<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AccessConnectionString" connectionString="CwQKgB/V2zTT3Euq91v3b9k+DjGJKtT7J96vDxpouGgTMMeTDN4RmIQo7OSrMqsBbSSdSQ2W4MPvloeSgAYkLLIHu3xdrWbXObmyUcF8XUdnCgkIYmfAe78fXXXGCGME1TGwxzc1gfBoU18BMigpLcd8Q/P3tg/fj6dkXRFn3Q6jKR9qkXb2wA==" />
    <add name="AccessConnectionString0" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=G:\FinancialSystem\Database\finance.accdb;Jet OLEDB:Database Password=5*5=30ya?;Persist Security Info=False" />
  </connectionStrings>
  <appSettings>
    <add  key="AppKey"  value="PluCBZK38DL561+VEWZX8A=="/>
  </appSettings>
</configuration>